.comment {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 2rem;

  > .avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    // overflow: hidden;

    > img {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  > .body {
    > .top {
      display: flex;
      gap: 1.5rem;

      > h4 {
        color: #444;
      }
    }

    > .content {
      margin-top: 0.3rem;
      font-size: 1.4rem;
    }
  }
}
