.not-found-videos {
  width: 100%;
  height: 70vh;
  display: grid;
  place-content: center;

  > h2 {
    text-align: center;
    color: #555;
    font-size: 2vmax;
  }
}

@media screen and (max-width: 900px) {
  .not-found-videos > h2 {
    font-size: 3vmax;
  }
}
