.button-search {
  border: none;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  display: none;

  &:hover {
    background-color: #e4e2e2;
  }
}

@media screen and (max-width: 768px) {
  .button-search {
    display: initial;
  }
}

@media screen and (max-width: 550px) {
  .button-search > span {
    display: none;
  }
}
