.upload {
  height: calc(100vh - 7rem - 2rem);

  > .form-container {
    max-width: 44rem;
    min-height: initial;
    > video {
      width: 100%;
      margin-bottom: 1.5rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .upload > .form-container {
    max-width: initial;
  }
}
