.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: transparent;
  border: 1px solid transparent;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.3s;

  &:disabled {
    cursor: not-allowed;
  }

  > svg {
    font-size: 1.6rem;
  }

  &.filled.primary {
    background-color: #1e71ff;
    color: #fff;
    &:hover {
      background-color: hsl(218, 100%, 46%);
    }
  }

  &.filled.danger {
    background-color: hsl(4, 90%, 48%);
    color: #fff;
    &:hover {
      background-color: hsl(4, 90%, 38%);
    }
  }

  &.filled.success {
    background-color: hsl(122, 39%, 50%);
    color: #fff;
    &:hover {
      background-color: hsl(122, 39%, 40%);
    }
  }

  &.empty.primary {
    color: #1e71ff;
    &:hover {
      background-color: hsl(218, 100%, 96%);
    }
  }

  &.empty.danger {
    color: hsl(4, 90%, 48%);
    &:hover {
      background-color: hsl(4, 90%, 98%);
    }
  }

  &.outlined {
    color: #1e71ff;
    border: 1px solid #1e71ff;

    &:hover {
      background-color: hsl(218, 100%, 96%);
    }
  }

  &.outlined.danger {
    color: hsl(4, 90%, 48%);
    border: 1px solid hsl(4, 90%, 48%);

    &:hover {
      background-color: hsl(4, 90%, 98%);
    }
  }

  &.outlined.light {
    color: #939393;
    border: 1px solid #93939394;

    &:hover {
      background-color: hsl(0, 0%, 95%);
    }
  }

  &.w-max {
    width: 100%;
  }

  .loader {
    scale: 1.5;
    stroke-width: 0.5px;
    animation: rotate 0.8s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
}
