.input-upload {
  > input {
    display: none;
  }

  > label {
    width: 100%;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #93939394;
    border-radius: 5px;
    color: #939393;
    padding: 1.5rem;
    font-size: 1.6rem;
    padding-left: 2rem;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: hsl(0, 0%, 95%);
    }
  }
}
