.profile-menu {
  > button {
    border: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    background: transparent;

    > img {
      width: 100%;
      transition: all 0.3s;

      &:hover {
        filter: brightness(0.85);
      }
    }
  }
}
