.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 7rem;
  // box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

  > .logos {
    display: flex;
    align-items: center;
    gap: 1rem;

    > a > img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3rem;
    }
  }

  > .items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 70%;

    > .lists {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 375px) {
  .navbar {
    > .logos {
      gap: 0rem;

      > a > img {
        height: 2.5rem;
      }
    }

    > .items {
      > .lists {
        gap: 0.5rem;
      }
    }
  }
}
